<app-breadcrumbs
  #breadcrumbs
  home="Relatório AG"
  [arBreadcrumbs]="arBreadcrumbsLocal"
  (goHome)="goHome($event)"
  (clearNext)="clearNext($event)"
  [context]="this"
  backgroundColor="#d5e0e4">
</app-breadcrumbs>

<div style="padding-top: 20px;">

    <app-cards-filter
        titleDrop="Filtros"
        nameSubmitFunction="filtrar"
        nameClearFunction="limpar"
        [dropdown]="true"
        advancedOptions="advancedFilter"
        [isCollapsed]="true"
        [context]="this">

		<form class="form-horizontal" [formGroup]="objFormFilter" >

			<div class="row">
				<div class="col-sm-3">
					<label>Data de Recebimento Delivery (inicial)</label>
					<app-datapicker-popup
						navegacao='select'
						[dataMinima]='dataMinima'
						[dataMaxima]='dataMaxima'
						[dataSelecionada]='dtInicioDefault'
						[mesesDisplay]='1'
						[desabilitar]='false'
						[formDatePop]="objFormFilterAux"
						[formControlNameDatePop]="'DTLANCT0'"
						(dataClicada)="dataClick($event)">
					</app-datapicker-popup>
				</div>
				<div class="col-sm-3">
					<label>Data de Recebimento Delivery (final)</label>
					<app-datapicker-popup
						navegacao='select'
						[dataMinima]='dataMinima'
						[dataMaxima]='dataMaxima'
						[dataSelecionada]='dtTerminoDefault'
						[mesesDisplay]='1'
						[desabilitar]='false'
						[formDatePop]="objFormFilterAux"
						[formControlNameDatePop]="'DTLANCT1'"
						(dataClicada)="dataClick($event)">
					</app-datapicker-popup>
				</div>
				<div class="form-group col-sm-3" [formGroup]="objFormFilter">   
                    <label>Código da Delivery</label>
                    <input class="form-control" id="G043_CDDELIVE" name="G043_CDDELIVE" formControlName="G043_CDDELIVE" placeholder="Digite para pesquisar">
				</div>
				<div class="form-group col-sm-3" [formGroup]="objFormFilterAux">
                    <label for="">Notas Entregues</label>
                    <select class="form-control"
                        id="G043_DTENTREG"
                        name="G043_DTENTREG" formControlName="G043_DTENTREG" >
                        <option value="2" [selected]="true">Todos</option>
                        <option value="{{item.value}}" *ngFor="let item of global.arDtEntreg">{{item.text}}</option>
                    </select>
				</div>
			
            </div>

            <div class="row">
				<div class="form-group col-sm-6">
					<label >Número da NF-e</label>
					<app-chips-input
					[typeInput]="'numberText'"
					[chips]='arIdNfe'
					[removable]='true'
					[addOnBlur]='true'
					[duplicate]='false'
					[objStyle]="objStyle"
					[inputSpace]='true'></app-chips-input>
				</div>
				<div class="form-group col-sm-6">
					<label >Número do CT-e</label>
					<app-chips-input
					[typeInput]="'numberText'"
					[chips]='arIdCte'
					[removable]='true'
					[addOnBlur]='true'
					[duplicate]='false'
					[objStyle]="objStyle"
					[inputSpace]='true'></app-chips-input>
				</div>
            </div>
            
            <div *ngIf="!advancedFilter">
                <div class="row">
                        <div class="form-group col-sm-3" [formGroup]="objFormFilterAux">
                                <label for="">Situação CT-e</label>
                                <select class="form-control"
                                        formControlName="G051_STCTRC"
                                        id="G051_STCTRC"
                                        name="G051_STCTRC" >
                                    <option value="N" [selected]="true" >Todos</option>
                                    <option value="A">Ativos</option>
                                    <option value="C">Cancelados</option>
                                </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <app-single-numeroViagem
                                [objForm] = "objFormFilterAux"
                                [formName] = "'G046_IDG046'">
                            </app-single-numeroViagem>
                        </div>
                        <div class="form-group col-sm-6" [formGroup]="objFormFilter">
                                    <label >Carga Logos</label>
                                    <app-chips-input
                                    [typeInput]="'numberText'"
                                    [chips]='arIdCargaLog'
                                    [removable]='true'
                                    [addOnBlur]='true'
                                    [duplicate]='false'
                                    [objStyle]="objStyle"
                                    [inputSpace]='true'
                                    >
                                    </app-chips-input>
                        </div>
                        
                </div>
                     <div class="row">

                        <div class="form-group col-sm-6 col-md-6 col-lg-6">
                            <label>Transportadora - Carga</label>
                            <app-combobox-multi
                            [url]="url+'filtro/transportadoras'"
                            [formMultiSelect] = "objFormFilterAux"
                            [disabledViewMultiSelect] = 'false'
                            [formControlNameMultiSelect] = "'G046_IDG024'">
                            </app-combobox-multi>
                        </div>
    
                        <div class="form-group col-sm-6 col-md-6 col-lg-6">
                            <label>Transportadora - CTe</label>
                            <app-combobox-multi
                                [url]="url+'filtro/transportadoras'"
                                [formMultiSelect] = "objFormFilterAux"
                                [disabledViewMultiSelect] = 'false'
                                [formControlNameMultiSelect] = "'G024_IDG024'">
                            </app-combobox-multi>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="form-group col-sm-6 col-md-6 col-lg-6">
                            <label for="NMCIDADE">Remetente</label>
                            <app-combobox-multi
                                [url]="url+'filtro/clientesAg'"
                                [formMultiSelect] = "objFormFilterAux"
                                [disabledViewMultiSelect] = 'false'
                                [formControlNameMultiSelect] = "'G043_IDG005RE'"
                                [auxGoBack] = "auxGoHome"
                                [valSelected] = "objAux.G043_IDG005RE"
                                [showInfo] = "showCDUF"
                                [IDS001] = "IDS001">
                            </app-combobox-multi>
                        </div>
                        <div class="form-group col-sm-6 col-md-6 col-lg-6">
                            <label >Destinatário</label>
                            <app-combobox-multi
                                [url]="url+'filtro/clientesAg'"
                                [formMultiSelect] = "objFormFilterAux"
                                [disabledViewMultiSelect] = 'false'
                                [formControlNameMultiSelect] = "'G043_IDG005DE'"
                                [auxGoBack] = "auxGoHome"
                                [valSelected] = "objAux.G043_IDG005DE"
                                [IDS001] = "IDS001"
                                [showInfo] = "showCDUF">
                            </app-combobox-multi>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6 col-md-6 col-lg-6">
                            <label >Tomador</label>
                            <app-combobox-multi
                                [url]="url+'filtro/clientesAg'"
                                [formMultiSelect] = "objFormFilterAux"
                                [disabledViewMultiSelect] = 'false'
                                [formControlNameMultiSelect] = "'G051_IDG005CO'"
                                [auxGoBack] = "auxGoHome"
                                [valSelected] = "objAux.G051_IDG005CO"
                                [IDS001] = "IDS001">
                            </app-combobox-multi>		
                        </div>
                        <div class="form-group col-sm-6 col-md-6 col-lg-6">
                                <label for="NMCIDADE">Remetente do CTE</label>
                                <app-combobox-multi
                                    [url]="url+'filtro/clientesAg'"
                                    [formMultiSelect] = "objFormFilterAux"
                                    [disabledViewMultiSelect] = 'false'
                                    [formControlNameMultiSelect] = "'G051_IDG005RE'"
                                    [auxGoBack] = "auxGoHome"
                                    [valSelected] = "objAux.G051_IDG005RE"
                                    [showInfo] = "showCDUF"
                                    [IDS001] = "IDS001">
                                </app-combobox-multi>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Data Agendada</label>
    
                            <app-datapicker-popup
                                navegacao='select'
                                [dataMinima]='dataMinima'
                                [dataMaxima]='dataMaxima'
                                [mesesDisplay]='1'
                                [desabilitar]='false'
                                [formDatePop]="objFormFilterAux"
                                [formControlNameDatePop]="'G051_DTAGENDA'"
                                (dataClicada)="dataClick($event)">
                            </app-datapicker-popup>
                        </div>
                        <div class="col-sm-3">
                            <label>Data Prevista</label>
                            <app-datapicker-popup
                                navegacao='select'
                                [dataMinima]='dataMinima'
                                [dataMaxima]='dataMaxima'
                                [mesesDisplay]='1'
                                [desabilitar]='false'
                                [formDatePop]="objFormFilterAux"
                                [formControlNameDatePop]="'DTPREENT'"
                                (dataClicada)="dataClick($event)">
                            </app-datapicker-popup>
                        </div>
    
                        <div class="col-sm-3">
                            <label>Data de Entrega (inicial)</label>
                            <app-datapicker-popup
                                navegacao='select'
                                [dataMinima]='dataMinima'
                                [dataMaxima]='dataMaxima'
                                [mesesDisplay]='1'
                                [desabilitar]='false'
                                [formDatePop]="objFormFilterAux"
                                [formControlNameDatePop]="'DTENTREG0'"
                                (dataClicada)="dataClick($event)">
                            </app-datapicker-popup>
                        </div>
                        <div class="col-sm-3">
                            <label>Data de Entrega (final)</label>
                            <app-datapicker-popup
                                navegacao='select'
                                [dataMinima]='dataMinima'
                                [dataMaxima]='dataMaxima'
                                [mesesDisplay]='1'
                                [desabilitar]='false'
                                [formDatePop]="objFormFilterAux"
                                [formControlNameDatePop]="'DTENTREG1'"
                                (dataClicada)="dataClick($event)">
                            </app-datapicker-popup>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3 col-md-3 col-lg-3">
                            <label>Nº da Frota</label>
                            <app-combobox-multi
                                [url]="url+'filtro/frota'"
                                [formMultiSelect] = "objFormFilterAux"
                                [disabledViewMultiSelect] = 'false'
                                [formControlNameMultiSelect] = "'G032_NRFROTA'"
                                [auxGoBack] = "auxGoHome"
                                [valSelected] = "objAux.G032_NRFROTA">
                            </app-combobox-multi>
                        </div>
    
                        <div class="form-group col-sm-3 col-md-3 col-lg-3">
                                <app-combobox-multi
                                    label="Veículos"
                                    [url]="url+'filtro/buscarDescVeiculos'"
                                    [formMultiSelect] = "objFormFilterAux"
                                    [formControlNameMultiSelect] = "'G032_IDG032'"
                                    [auxGoBack] = "auxGoHome"
                                    [valSelected] = "objAux.G032_IDG032">
                            </app-combobox-multi>
                        </div>
    
    
                    </div>
            </div>
            
        </form>
        
    </app-cards-filter>
    
    <app-cards
		titleDrop="Registros"
		[dropdown]="true">

		<app-datagrid 
			[id]="'dadosAg'"
			[url]="urlGrid"
            [tela]="425"
            [order]="[3, 'asc']"
			[telaGlobal]="[ {'id' : 'excel'},{'id' : 'colvis'} ]"
			[telaAcoes]="[]"
			[nivel]="0"
			[thisParent]="this"
			[allList]="true"
			[notOnLoad]="true"
			[stateSave]="false"
			[scroll]="500">
			<th data-id="NRORDITE" data-align-left="true" data-function="validaNullMonitoria">Item</th>
            <th data-id="DSPRODUT" data-align-left="true" data-function="validaNullMonitoria">Produto</th>
            <th data-id="QTPRODUT" data-align-right="true">Quantidade Produto</th>
			<th data-id="CDDELIVE" data-align-left="true"  data-function="validaNullMonitoria">Delivery</th>
            <th data-id="CDCTRC" data-align-right="true">Nº CTe</th>
            <th data-id="NRNOTA" data-align-right="true">Nº NFe</th>
            <th data-id="IDG046" data-align-right="true">Carga</th>
            <th data-id="NMTRANSP_CARGA" data-align-left="true" data-function="validaNullMonitoria">Transportadora - Carga</th>
			<th data-id="RSCLIENTRE" data-align-left="true">Razão Social - Emissor</th>
			<th data-id="RSCLIENTDE" data-align-left="true">Razão Social - Destino</th>
			<th data-id="NMCLIENTRE" data-visible="false" data-align-left="true">Nome - Emissor</th>
			<th data-id="NMCLIENTDE" data-visible="false" data-align-left="true">Nome - Destino</th>
			<th data-id="NMCIDADERE" data-visible="false" data-align-left="true">Cidade do Emissor</th>
			<th data-id="NMESTADORE" data-visible="false" data-align-left="true">Estado do Emissor</th>
			<th data-id="NMCIDADEDE" data-visible="false" data-align-left="true">Cidade do Destino</th>
			<th data-id="NMESTADODE" data-visible="false" data-align-left="true">Estado do Destino</th>
			<th data-id="NMCLIENTCO" data-visible="false" data-align-left="true">Tomador</th>
			<th data-id="DTEMICTR" data-align-center="true">Data Emissão CTe</th>
			<th data-id="DTCOLORI" data-align-center="true"  data-function="validaNullMonitoria">Data de previsão de despacho</th>
			<th data-id="DTSAICAR" data-align-center="true"  data-function="validaNullMonitoria">Data de Despacho</th>
			<th data-id="DTCARGA" data-align-center="true">Data Roteirização</th>
			<th data-id="DTENTCON" data-align-center="true">Data Ent. SLA</th>
			<th data-id="DTAGENDA" data-align-center="true">Data Agendada</th>
			<th data-id="DTCOMBIN" data-align-center="true">Data Combinada</th>
			<th data-id="DTPREENT" data-align-center="true" data-function="validaNullMonitoria">Data Pre. Entrega</th>
			<th data-id="DTENTREG" data-align-center="true">Data Ent. Realizada</th>
			<th data-id="DTLANCTO" data-align-center="true" >Data de Lançamento</th>
			<th data-id="DTDELIVE" data-align-center="true" >Data Solicitação de Retorno</th>
			<th data-id="SNCARPAR" data-align-left="true" >Tipo da carga</th>
			<th data-id="DSTIPVEI"  data-align-left="true">Tipo do Veículo</th>
            <th data-id="STCARGA" data-align-left="true" data-function="statusCargaTpTextDG" data-function-next="capitalizeString">Status da Carga</th>
            <th data-id="STETAPA" data-align-left="true" data-function="statusDeliveryTpTextDG">Status da Delivery</th>
			<th data-id="NRSEQETA" data-align-right="true"  >Sequência de parada</th>
            <th data-id="QTDISPER" data-align-right="true"  data-function="formataDistancia">Total do Km</th>
            <th data-id="VRFRETE" data-align-right="true" data-function="formataDinheiro" data-function-next="validaNullMonitoria">Valor do Frete</th>
            <!-- <th data-id="VRTOTFRE" data-align-right="true" data-function="formataDinheiro">Total Frete</th> -->
			<th data-id="DSTPMOTI" data-align-left="true" data-function="validaNullMonitoria">Motivo Dt. Entrega</th>
		</app-datagrid>
	</app-cards>

</div>