<!-- <div class="card card-body card-widget">
	<div class="widget-icon rounded-circle bg-{{indicadorSingle.color}} text-white icon {{indicadorSingle.icon}}">
	</div>
	<div class="block ml-3 mr-3">
		<h5 class="mb-0 fw-400">
			{{indicadorSingle.value}}
		</h5>
		<small class="text-muted text-uppercase ">
			<strong>{{indicadorSingle.desc}}</strong>
		</small>
	</div>
</div> -->

<div 
	class="card card-body card-widget card-inverse bg-{{indicadorSingle.color}}">
	<div class="mr-auto">
		<h3 class="fw-300 mb-0" style="font-size: 18px !important">{{indicadorSingle.value}}</h3>
		{{indicadorSingle.desc}}
	</div>
	<div class="d-block">
		<div class="h1 mb-0">
			<i class="{{indicadorSingle.icon}}"></i>
		</div>
	</div>
</div><!-- 


<div class="row">
  <div *ngFor="let propIndicador of propIndicadores"  [ngStyle]="{'width':width, 'color': '#fff', 'margin-left': marginLeft}" (click)="emitFiltrar(propIndicador.filtParam, propIndicador.label)">
    <div [ngClass]="{'disabled': disabled[propIndicador.label]}" class="card card-body card-widget card-inverse" [ngStyle]="{'background-color':propIndicador.bgColor}">
      <div class="mr-auto">
        <h3 class="fw-300 mb-0">{{propIndicador.indNum}}</h3>
        <small>{{ propIndicador.label }}</small>
      </div>
      <div class="d-block">
        <div class="h1 mb-0">
          <i class="{{ propIndicador.icon }}"></i>
        </div>
      </div>
    </div>
  </div>
</div> -->