.marginMy{
  margin-bottom: -36px !important;
}

.optionsView{
  color: #122f3b;
  height: 45px;
  padding-top: 12px;
  cursor: pointer;
}

.optionsView:hover{
  border: 1px solid #122f3b;
  height: 45px;
  padding-top: 12px;
}

.optionsView-activate{
  background-color: #122f3b;
  color: #fff;
  height: 45px;
  padding-top: 12px;
}
