<ng-template #modalConfirmaEnvio>
	<div class="modal-header">
			<h3 class="mt-0 mb-0 text-uppercase" style="margin-left: 23px !important;"><small class="fw-300">Confirmação de Envio</small></h3>
		<button type="button" class="close" aria-label="Close" (click)="closeModalConfirmaEnvio()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" style="color: #464444">
		<div class="row">
			<div class="col-md-12">
			  	Tem certeza que deseja enviar para o(s) contato(s) selecionado(s)?
			</div>
		</div>
		<ul class="list-group" *ngIf="!envSyngenta">
			<li class="list-group-item list-group-item-info">{{ objFormEmailCliente.controls['DSEMAIL'].value }}</li>
		</ul>
		<ul class="list-group" *ngIf="envSyngenta">
			<li class="list-group-item list-group-item-info">{{ objFormEmailCliente.controls['DSEMASYN'].value }}</li>
		</ul>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-success" (click)="salvarEmail()">Enviar</button>
		<button type="button" class="btn btn-danger" (click)="closeModalConfirmaEnvio()">Cancelar</button>
	</div>
</ng-template>

<div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<fieldset class="scheduler-border">
			<legend class="scheduler-border">Compartilhar Rastreio</legend>
			<form class="form-horizontal" *ngIf="objEnvioRastreio.IDG043 && objEnvioRastreio.IDG051 && objEnvioRastreio.IDG005CO" [formGroup]="objFormEmailCliente" (ngSubmit) = "salvarEmail()">
				<div class="row" *ngIf="!objEnvioRastreio.DSEMAIL && !envSyngenta">
					<div class="col-md-12">
						<div class="alert alert-warning" role="alert">
							<strong>Ops!</strong> Não foi encontrado um e-mail para este cliente.
						</div>
					</div>
				</div>
				<div class="row" *ngIf="!objEnvioRastreio.DSEMASYN && envSyngenta">
					<div class="col-md-12">
						<div class="alert alert-warning" role="alert">
							<strong>Ops!</strong> Não foi encontrado um e-mail para este cliente.
						</div>
					</div>
				</div>
				<div class="row" *ngIf="!objEnvioRastreio.DTBLOQUE || (objEnvioRastreio.DTBLOQUE && !objEnvioRastreio.DTDESBLO)">
					<div class="col-md-12">
						<div class="alert alert-warning" role="alert">
							<strong>Atenção!</strong> Confira o e-mail antes de clicar em <strong>compartilhar</strong>.
						</div>
					</div>
				</div>
				<div class="row" *ngIf="!objEnvioRastreio.DTBLOQUE || (objEnvioRastreio.DTBLOQUE && !objEnvioRastreio.DTDESBLO)">
					<div class="col-md-12">
						<div class="alert alert-warning" role="alert">
							<strong>Atenção!</strong> Você pode separar vários e-mails utilizando vírgula como delimitador.
						</div>
					</div>					
				</div>
				<div class="row" *ngIf="(!objEnvioRastreio.DTBLOQUE && !envSyngenta) || (objEnvioRastreio.DTBLOQUE && objEnvioRastreio.DTDESBLO && !envSyngenta) ">
					<div class="form-group col-md-4 col-lg-4">
						<label for="DSEMAIL">E-mail do Cliente: </label>
						<input
							id="DSEMAIL"
							type="text"
							name="DSEMAIL"
							formControlName="DSEMAIL"
							class="form-control"
							value=""
							placeholder="E-mail do Cliente"
						>
					</div>
					<div class="col-md-2 col-lg-2">
						<label for="">&nbsp;</label>
						<button
							type="button"
							class="btn btn-primary btn-block"
							(click)="showModalConfirmaEnvio();"
							[disabled]="
								(!this.objFormEmailCliente.controls['DSEMAIL'].value) || (this.objFormEmailCliente.controls['DSEMAIL'].value == '')">
							<i class="fas fa-share-alt"></i> &nbsp; Compartilhar
						</button>
					</div>
				</div>
				<div class="row" *ngIf="(!objEnvioRastreio.DTBLOQUE && envSyngenta) || (objEnvioRastreio.DTBLOQUE && objEnvioRastreio.DTDESBLO && envSyngenta) ">
					<div class="form-group col-md-4 col-lg-4">
						<label for="DSEMASYN">E-mail do Cliente: </label>
						<input
							id="DSEMASYN"
							type="text"
							name="DSEMASYN"
							formControlName="DSEMASYN"
							class="form-control"
							value=""
							placeholder="E-mail do Cliente"
						>
					</div>
					<div class="col-md-2 col-lg-2">
						<label for="">&nbsp;</label>
						<button
							type="button"
							class="btn btn-primary btn-block"
							(click)="showModalConfirmaEnvio();"
							[disabled]="
								(!this.objFormEmailCliente.controls['DSEMASYN'].value) || (this.objFormEmailCliente.controls['DSEMASYN'].value == '')">
							<i class="fas fa-share-alt"></i> &nbsp; Compartilhar
						</button>
					</div>
				</div>
				<div class="row" *ngIf="objEnvioRastreio.DTBLOQUE && !objEnvioRastreio.DTDESBLO">
					<div class="col-md-12">
						<div class="alert alert-danger" role="alert">
							A nota fiscal está bloqueada.
						</div>
					</div>
				</div>
			</form>
			<div class="row" *ngIf="!objEnvioRastreio.IDG043 || !objEnvioRastreio.IDG051 || !objEnvioRastreio.IDG005CO">
				<div class="col-md-12">
					<div class="alert alert-danger" role="alert">
						<strong>Ops!</strong> Não há informações suficientes para prosseguir com o envio do rastreio.
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</div>