<div style="margin-top: 10px;">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 size-container-sm size-container-md size-container-lg size-container-xl" *ngFor="let item of arrayDNada">
			<div class="card card-body card-widget bg-my card-inverse" (click)="item.selected = !item.selected; selecionados();" [ngClass]="{'disabled': !item.selected}">
				<a href="javascript:;">
					<!-- <img src="{{item.img}}" class="avatar-md rounded-circle" alt=""> -->
					<i class="far fa-building icon-cli" ></i>
				</a>
				<div class="pl-3 pr-3">
					<p class="ff-headers mb-0 text-uppercase">
						<strong>{{item.DSOPERAC}} </strong>
					</p>
					<small class="d-block fontSm">#Ocorrências: {{item.QTD_OCORRENCIAS}}</small>
					<small class="d-block fontSm">#Atendimentos: {{item.QTD_ATENDIMENTOS}}</small>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			Filtrando por {{nmFilter}} de {{arrayDNada.length}} atendentes
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
			<button 
				type="button"
				class="btn btn-primary btn-block"
				(click)="checkAll();"
				>
				<i _ngcontent-c25="" class="fa fa-check-circle"></i> Marcar Todos
			</button>
		</div>
		<div class="col-md-2">
			<button 
				type="button"
				class="btn btn-danger btn-block"
				(click)="uncheckAll();"
				>
				<i _ngcontent-c25="" class="fa fa-check-circle"></i> Desmarcar Todos
			</button>
		</div>
	</div>
</div>