<div style="padding-top: 20px;">
	<app-cards-filter
		titleDrop="Filtros"
		nameSubmitFunction="filtrarHome"
		nameClearFunction="limparHome"
		idGrid="gridHomeNFe"
		[dropdown]="true"
		advancedOptions="advancedFilter"
		[isCollapsed]="true"
		[context]="this">


		<form class="form-horizontal" [formGroup]="objFormFilter" >
			<div class="row">
				<div class="col-sm-3">
					<label>Data Emissão NF (inicial)</label>
					<app-datapicker-popup
						navegacao='select'
						[dataSelecionada]='dtInicioDefault'
						[mesesDisplay]='1'
						[desabilitar]='false'
						[formDatePop]="objFormFilterH"
						[formControlNameDatePop]="'DTINICIO'"
						(dataClicada)="dataClick($event)">
					</app-datapicker-popup>
				</div>
				<div class="col-sm-3">
					<label>Data Emissão NF (final)</label>
					<app-datapicker-popup
						navegacao='select'
						[dataSelecionada]='dtTerminoDefault'
						[mesesDisplay]='1'
						[desabilitar]='false'
						[formDatePop]="objFormFilterH"
						[formControlNameDatePop]="'DTFIM'"
						(dataClicada)="dataClick($event)">
					</app-datapicker-popup>
				</div>
				<div class="col-sm-3">
					<label>Data Agendada</label>
					<app-datapicker-popup
						navegacao='select'
						[mesesDisplay]='1'
						[desabilitar]='false'
						[formDatePop]="objFormFilterH"
						[formControlNameDatePop]="'G051_DTAGENDA'"
						(dataClicada)="dataClick($event)">
					</app-datapicker-popup>
				</div>
				<div class="col-sm-3">
					<label>Data Prevista</label>
					<app-datapicker-popup
						navegacao='select'
						[mesesDisplay]='1'
						[desabilitar]='false'
						[formDatePop]="objFormFilterH"
						[formControlNameDatePop]="'DTPREENT'"
						(dataClicada)="dataClick($event)">
					</app-datapicker-popup>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-2">
					<app-single-usuario-sac
					[objForm] = "objFormFilter"
					[displayName] = "'Atendente:'"
					[formName] = "'A001_IDSOLIDO'">
				</app-single-usuario-sac>
				</div>
				<div class="form-group col-sm-2">
					<label for="">Situação</label>
					<select class="form-control" id="A006_DSSITUAC" name="A006_DSSITUAC" formControlName="A006_DSSITUAC" >
						<option value="" >Todos</option>
						<option value="Aberto" [selected]="true">Aberto</option>
						<option value="Finalizado">Finalizado</option>
						<option value="Encaminhado">Encaminhado</option>
					</select>
				</div>
				<div class="form-group col-sm-2">
					<label for="">Tipo de Operação</label>
					<select 
						class="form-control"
						id="G051_TPTRANSP"
						name="G051_TPTRANSP"
						formControlName="G051_TPTRANSP">
						<option value='' [selected]="true">Todos</option>
						<option value='{{item.value}}' *ngFor="let item of global.arTpOcorrenciasNF">
							{{item.text}}
						</option>
					</select>
				</div>
				<div class="form-group col-sm-6">
					<label for="NMCIDADE">Transportadora</label>
					<app-combobox-multi
						[url]="url+'filtro/transportadoras'"
						[formMultiSelect] = "objFormFilterH"
						[disabledViewMultiSelect] = 'false'
						[formControlNameMultiSelect] = "'G051_IDG024'">
					</app-combobox-multi>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6">
					<label>Número da NF-e</label>
					<app-chips-input
					[typeInput]="'numberText'"
					[chips]='arIdNfe'
					[removable]='true'
					[addOnBlur]='true'
					[duplicate]='false'
					[objStyle]="objStyle"
					[inputSpace]='true'
					>
					</app-chips-input>
				</div>
				<div class="form-group col-sm-6">
					<label>Número do CT-e</label>
					<app-chips-input
					[typeInput]="'numberText'"
					[chips]='arIdCte'
					[removable]='true'
					[addOnBlur]='true'
					[duplicate]='false'
					[objStyle]="objStyle"
					[inputSpace]='true'
					>
					</app-chips-input>
				</div>
			</div>
			<div *ngIf="advancedFilter">
				<div class="row">
					<div class="col-lg-12">
						<app-cards
							titleDrop="Emissor"
							idGrid="gridHomeDados"
							[isCollapsed]="true"
							[dropdown]="true">
							<div class="row marginMy">
								<div class="form-group col-sm-4 col-md-4 col-lg-4">
									<label for="G051_IDG005RE">Emissor</label>
									<app-combobox-multi
										[url]="url+'filtro/clientes'"
										[formMultiSelect] = "objFormFilterH"
										[disabledViewMultiSelect] = 'false'
										[formControlNameMultiSelect] = "'G051_IDG005RE'">
									</app-combobox-multi>
								</div>

								<div class="form-group col-sm-4 col-md-4 col-lg-4">
									<label for="G005DE_CJCLIENTDE">CNPJ</label>
									<app-input
										id="G005DE_CJCLIENTDE"
										name="teste"
										[isRequired] ='false'
										placeholder="CNPJ"
										typeMask="cnpj"
										[formInput] = "objFormFilter"
										[formControlNameInput] = "'G005RE_CJCLIENT'"
									>										
									</app-input>
								</div>

								<div class="form-group col-sm-4 col-md-4 col-lg-4">
									<label >Cidade</label>
									<app-combobox-multi
										[url]="url+'filtro/cidades'"
										[formMultiSelect] = "objFormFilterH"
										[disabledViewMultiSelect] = 'false'
										[formControlNameMultiSelect] = "'G005RE_IDG003'">
									</app-combobox-multi>
								</div>
							</div>
						</app-cards>
					</div>

					<div class="col-lg-12">
						<app-cards
							titleDrop="Destinatário"
							idGrid="gridHomeDados"
							[isCollapsed]="true"
							[dropdown]="true">
							<div class="row marginMy">
								<div class="form-group col-sm-4 col-md-4 col-lg-4">
									<label >Destinatário</label>
									<app-combobox-multi
										[url]="url+'filtro/clientes'"
										[formMultiSelect] = "objFormFilterH"
										[disabledViewMultiSelect] = 'false'
										[formControlNameMultiSelect] = "'G051_IDG005DE'">
									</app-combobox-multi>
								</div>

								<div class="form-group col-sm-4 col-md-4 col-lg-4">
									<label for="G005DE_CJCLIENTDE">CNPJ</label>
									<app-input
										id="G005DE_CJCLIENTDE"
										name="teste"
										[isRequired] ='false'
										placeholder="CNPJ Destinatári"
										typeMask="cnpj"
										[formInput] = "objFormFilter"
										[formControlNameInput] = "'G005DE_CJCLIENT'"
									>
									</app-input>
								</div>

								<div class="form-group col-sm-4 col-md-4 col-lg-4">
									<label >Cidade</label>
									<app-combobox-multi
										[url]="url+'filtro/cidades'"
										[formMultiSelect] = "objFormFilterH"
										[disabledViewMultiSelect] = 'false'
										[formControlNameMultiSelect] = "'G005DE_IDG003'">
									</app-combobox-multi>
								</div>
							</div>
						</app-cards>
					</div>

					<div class="col-lg-12">
						<app-cards
							titleDrop="Tomador"
							idGrid="gridHomeDados"
							[isCollapsed]="true"
							[dropdown]="true">
							<div class="row marginMy">
								<div class="form-group col-sm-4 col-md-4 col-lg-4">
									<label for="NMCIDADE">Tomador</label>
									<app-combobox-multi
										[url]="url+'filtro/tomadores'"
										[formMultiSelect] = "objFormFilterH"
										[disabledViewMultiSelect] = 'false'
										[formControlNameMultiSelect] = "'G051_IDG005CO'">
									</app-combobox-multi>
								</div>

								<div class="form-group col-sm-4 col-md-4 col-lg-4">
									<label for="G005DE_CJCLIENTDE">CNPJ</label>
									<app-input
										id="G005DE_CJCLIENTDE"
										name="teste"
										[isRequired] ='false'
										placeholder="CNPJ Destinatári"
										typeMask="cnpj"
										[formInput] = "objFormFilter"
										[formControlNameInput] = "'G005CO_CJCLIENT'"
									>
									</app-input>
								</div>

								<div class="form-group col-sm-4 col-md-4 col-lg-4">
									<label >Cidade</label>
									<app-combobox-multi
										[url]="url+'filtro/cidades'"
										[formMultiSelect] = "objFormFilterH"
										[disabledViewMultiSelect] = 'false'
										[formControlNameMultiSelect] = "'G005CO_IDG003'">
									</app-combobox-multi>
								</div>
							</div>
						</app-cards>
					</div>


					<div class="col-lg-12">
						<app-cards
							titleDrop="Recebedor"
							idGrid="gridHomeDados"
							[isCollapsed]="true"
							[dropdown]="true">
							<div class="row marginMy">
								<div class="form-group col-sm-4 col-md-4 col-lg-4">
									<label for="NMCIDADE">Recebedor</label>
									<app-combobox-multi
										[url]="url+'filtro/clientes'"
										[formMultiSelect] = "objFormFilterH"
										[disabledViewMultiSelect] = 'false'
										[formControlNameMultiSelect] = "'G051_IDG005RC'">
									</app-combobox-multi>
								</div>

								<div class="form-group col-sm-4 col-md-4 col-lg-4">
									<label for="G005DE_CJCLIENTDE">CNPJ</label>
									<app-input
										id="G005DE_CJCLIENTDE"
										name="teste"
										[isRequired] ='false'
										placeholder="CNPJ Destinatári"
										typeMask="cnpj"
										[formInput] = "objFormFilter"
										[formControlNameInput] = "'G005RC_CJCLIENT'"
									>
									</app-input>
								</div>

								<div class="form-group col-sm-4 col-md-4 col-lg-4">
									<label >Cidade</label>
									<app-combobox-multi
										[url]="url+'filtro/cidades'"
										[formMultiSelect] = "objFormFilterH"
										[disabledViewMultiSelect] = 'false'
										[formControlNameMultiSelect] = "'G005RC_IDG003'">
									</app-combobox-multi>
								</div>
							</div>
						</app-cards>
					</div>

					<div class="col-lg-12">
						<app-cards
							titleDrop="Expedidor"
							idGrid="gridHomeDados"
							[isCollapsed]="true"
							[dropdown]="true">
							<div class="row marginMy">
								<div class="form-group col-sm-4 col-md-4 col-lg-4">
									<label for="G051_IDG005EX">Expedidor</label>
									<app-combobox-multi
										[url]="url+'filtro/clientes'"
										[formMultiSelect] = "objFormFilterH"
										[disabledViewMultiSelect] = 'false'
										[formControlNameMultiSelect] = "'G051_IDG005EX'">
									</app-combobox-multi>
								</div>

								<div class="form-group col-sm-4 col-md-4 col-lg-4">
									<label for="G005DE_CJCLIENTDE">CNPJ</label>
									<app-input
										id="G005DE_CJCLIENTDE"
										name="teste"
										[isRequired] ='false'
										placeholder="CNPJ Destinatári"
										typeMask="cnpj"
										[formInput] = "objFormFilter"
										[formControlNameInput] = "'G005EX_CJCLIENT'"
									>
									</app-input>
								</div>

								<div class="form-group col-sm-4 col-md-4 col-lg-4">
									<label >Cidade</label>
									<app-combobox-multi
										[url]="url+'filtro/cidades'"
										[formMultiSelect] = "objFormFilterH"
										[disabledViewMultiSelect] = 'false'
										[formControlNameMultiSelect] = "'G005EX_IDG003'">
									</app-combobox-multi>
								</div>
							</div>
						</app-cards>
					</div>
				</div>
			</div>
		</form>
	</app-cards-filter>

	<app-cards
		titleDrop="Registros"
		idGrid="gridHomeDados"
		[isCollapsed]="false"
		[dropdown]="true">

		<app-datagrid
			[id]="'relatorioAtendGrid'"
			[url]="url+'mo/atendimentos/listarRelatorioAtendimento'"
			[tela]="42"
			[telaGlobal]="[
				{'id' : 'excel'},
				{'id' : 'colvis'}
			]"
			[nivel]="0"
			[stateSave]="true"
			[thisParent]="this"
			[allList]="true"
			[relatorioAtendimento]="true"
			[notOnLoad]="true"
			[scroll]="500">			
			<th data-id="IDG043" data-type-column="details" data-exec="detailAtendimento">Detalhes</th>
			<th data-id="A001_IDA001" data-align-right="true">Protocolo Atendimento</th>
			<th data-id="A002_DSTPMOTI" data-align-left="true">Motivo Atendimento</th>
			<th data-id="G043_NRNOTA" data-function="linhaCompletaRelatorioAtendimentos" data-function-full="true" data-align-right="true">Nº NF</th>
			<th data-id="G051_CDCTRC" data-align-right="true">Nº CTE</th>
			<!-- REMETENTE -->
			<th data-id="G005RE_NMCLIENTRE" data-align-left="true"> Remetente</th>
			<th data-id="G005RE_CJCLIENTRE" data-visible="false" data-function="validCnpjCpf" data-align-right="true">CNPJ Remetente</th>
			<th data-id="G003RE_NMCIDADERE" data-visible="false" data-align-left="true">Cidade Remente</th>
			<th data-id="G002RE_NMESTADORE" data-visible="false" data-align-left="true">UF Remente</th>
			<!-- DESTINATÁRIO -->
			<th data-id="G005DE_NMCLIENTDE" data-align-left="true"> Destinatário</th>
			<th data-id="G005DE_CJCLIENTDE" data-visible="false" data-function="validCnpjCpf" data-align-right="true">CNPJ Destinatário</th>
			<th data-id="G003DE_NMCIDADEDE" data-visible="false" data-align-left="true">Cidade Destinatário</th>
			<th data-id="G002DE_NMESTADODE" data-visible="false" data-align-left="true">UF Destinatário</th>
			<!-- RECEBEDOR -->
			<th data-id="G005RC_NMCLIENTRC" data-visible="false" data-align-left="true"> Recebedor</th>
			<th data-id="G005RC_CJCLIENTRC" data-visible="false" data-function="validCnpjCpf" data-align-right="true">CNPJ Recebedor</th>
			<th data-id="G003RC_NMCIDADERC" data-visible="false" data-align-left="true">Cidade Recebedor</th>
			<th data-id="G002RC_NMESTADORC" data-visible="false" data-align-left="true">UF Recebedor</th>
			<!-- EXPEDIDOR -->
			<th data-id="G005EX_NMCLIENTEX" data-visible="false" data-align-left="true"> Expedidor</th>
			<th data-id="G005EX_CJCLIENTEX" data-visible="false" data-function="validCnpjCpf" data-align-right="true">CNPJ Expedidor</th>
			<th data-id="G003EX_NMCIDADEEX" data-visible="false" data-align-left="true">Cidade Expedidor</th>
			<th data-id="G002EX_NMESTADOEX" data-visible="false" data-align-left="true">UF Expedidor</th>
			<!-- TOMADOR -->
			<th data-id="G005CO_NMCLIENTCO" data-align-left="true"> Tomador</th>
			<th data-id="G005CO_CJCLIENTCO" data-visible="false" data-function="validCnpjCpf" data-align-right="true">CNPJ Tomador</th>
			<th data-id="G003CO_NMCIDADECO" data-visible="false" data-align-left="true">Cidade Tomador</th>
			<th data-id="G002CO_NMESTADOCO" data-visible="false" data-align-left="true">UF Tomador</th>
			<th data-id="G051_TPTRANSP" data-align-left="true">Tipo Operação</th>
			<th data-id="A001_DTREGIST" data-visible="false">Data Abertura</th>
			<th data-id="A001_DTFIM" data-visible="false">Data Fechamento</th>
			<th data-id="A001_TEMPO" data-visible="false">Tempo</th>
			<th data-id="A006_DSSITUAC" data-align-left="true">Situação</th>
			<th data-id="S001_NMUSUARI" data-visible="false" data-align-left="true">Criador do Atendimento</th>
			<!-- <th data-id="DTPREENT" data-align-right="true">Previsão</th> -->
			<th data-id="DSOBSERV" data-visible="false" data-align-left="true">Descrição do atendimento</th>
			
		</app-datagrid>
	</app-cards>
</div>
