<div style="height: 100% !important;background-color: #e6e6e6 !important;">
	<div class="row bod2" style="margin-right: 0px !important;">
		<div class="col-sm-12 text-center">
			<img src="assets/images/bravo-logo-01.png" alt="">
		</div>
	</div>
	<div class="row bod" style="margin-right: 0px !important;">
		<div class="col-md-2"></div>
		<div class="col-md-8 content">
			<div class="row">
				<div class="col-sm-12 content-title" >
					<h3 class="mt-0 mb-0 text-uppercase"><small class="fw-300">{{options?.heading}}</small> </h3>
				</div>
			</div>
			<router-outlet></router-outlet>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>