<!-- 

<div class="row">
	<div class="col-md-4 text-center" >
		<span class="float-md-left">
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title">Ocorrências</h6>
							<p class="card-text">30</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title">Atendimentos</h6>
							<p class="card-text">35</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 mt-1">
					<button type="button" class="btn btn-success btn-block">Verde</button>
				</div>
				<div class="col-md-4 mt-1">
					<button type="button" class="btn btn-warning btn-block">Amarelo</button>
				</div>
				<div class="col-md-4 mt-1">
					<button type="button" class="btn btn-danger btn-block">Vermelho</button>
				</div>
			</div>			
		</span>
	</div>
	<div class="col-md-4 mt-1  text-center">
		<span class="float-md-right">
			<h5 class="text-center">Tempo de Resposta</h5>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-secondary">< 1 hora</button>
				<button type="button" class="btn btn-secondary">Entre 1h e 6h</button>
				<button type="button" class="btn btn-secondary">Entre 6h e 12h</button>
			</div>
		</span>
	</div>

	<div class="col-md-4 mt-1 text-center">
		<span class="float-md-center">
			<h5 class="text-center">Indice Atendimentos</h5>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-secondary text-danger"> < 75%</button>
				<button type="button" class="btn btn-secondary"> > 75% e < 85% </button>
				<button type="button" class="btn btn-secondary"> > 85% </button>
			</div>
		</span>
	</div>	
</div>

<div class="d-flex flex-row justify-content-around my-flex-container">
	
	<div class="p-2 my-flex-item">
		<h5 class="text-center">Tempo de Resposta</h5>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-secondary">< 1 hora</button>
			<button type="button" class="btn btn-secondary">Entre 1h e 6h</button>
			<button type="button" class="btn btn-secondary">Entre 6h e 12h</button>
		</div>
	</div>
	<div class="p-2 my-flex-item">
		<h5 class="text-center">Indice Atendimentos</h5>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-secondary text-danger"> < 75%</button>
			<button type="button" class="btn btn-secondary"> > 75% e < 85% </button>
			<button type="button" class="btn btn-secondary"> > 85% </button>
		</div>
	</div>
</div> -->
<!-- <div class="row">
	<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
		<app-indicador-single 
			lineaIcon="icon-basic-headset"
			title="Atendimentos em Aberto"
			value="100"
			background-color="bg-green">
			
		</app-indicador-single>
	</div>
	<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
		<app-indicador-single 
			lineaIcon="icon-basic-headset"
			title="Atendimentos Finalizados"
			value="100"
			background-color="bg-green">
			
		</app-indicador-single>
	</div>
	<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
		<app-indicador-single 
			lineaIcon="icon-basic-headset"
			title="Total de Atendimentos"
			value="200"
			background-color="bg-green">
			
		</app-indicador-single>
	</div>
	<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
		<app-indicador-single 
			lineaIcon="icon-basic-headset"
			title="Ocorrências Aberto"
			value="100"
			background-color="bg-green">
			
		</app-indicador-single>
	</div>
	<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
		<app-indicador-single 
			lineaIcon="icon-basic-headset"
			title="Ocorrências Finalizadas"
			value="100"
			background-color="bg-green">
			
		</app-indicador-single>
	</div>
	<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
		<app-indicador-single 
			lineaIcon="icon-basic-headset"
			title="Total de Ocorrências"
			value="200"
			background-color="bg-green">
			
		</app-indicador-single>
	</div>
</div> -->