.line-container {
  height: 300px;
  width: 100%;
  display: block;
}
.gauge-container {
  height: 300px;
  width: 100%;
  display: block;
}

@media screen {
	.modal-adaptive .modal-xl {
		width: 50% !important;
		max-width: calc(50%);
	}
}

/* fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:inherit; 
    padding:0 10px;
    border-bottom:none;
} */

.dangerSpan {
	font-size: 0.8rem;
	color: rgb(244, 67, 54);
	position: relative;
}

.auxRow {
    margin-top: 15px;
}

.breadcrumbs {
	background-color: #fff !important;
}

